#! /bin/bash

# CloudBees CI Controller URLs
export CONTROLLER_SOURCE_URL="https://ci.example.com/sourcecontroller"
export CONTROLLER_TARGET_URL="https://ci.example.com/targetcontroller"

# Jenkins User Tokens (username:apitoken)
export CONTROLLER_SOURCE_USER_TOKEN="admin:XXXXXX"
export CONTROLLER_TARGET_USER_TOKEN="admin:YYYYYY"

# --- Infrastructure Specifics ---

# Kubernetes (K8s) only
export NAMESPACE="cloudbees-core"
export TARGET_POD="cjoc-0"

# Traditional (SSH) only
export TARGET_USER="jenkins"
export TARGET_HOST="ci.target.example.com"
