#! /bin/bash

export CONTROLLER_SOURCE_URL="https://ci.example.com/sourcecontroller"
export CONTROLLER_TARGET_URL="https://ci.example.com/targetcontroller"
export CONTROLLER_SOURCE_USER_TOKEN="admin:XXX"
export CONTROLLER_TARGET_USER_TOKEN="admin:YYY"
export SOURCE_SSH_USER="jenkins"
export SOURCE_SSH_HOST="ci.source.examle.com"
export TARGET_SSH_USER="jenkins"
export TARGET_SSH_HOST="ci.target.examle.com"
